extends base

block content
    div 
        iframe(
            width="560",
            height="315",
            src=`https://www.youtube.com/embed/${video.url}`,
            title="YouTube video player",
            frameborder="0",
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share",
            allowfullscreen
            )
    h2=video.title
    p=video.description
    each hashtag in video.hashtags 
        span(style="padding: 4px 10px; font-size:13px;background-color:#999; color:#ccc; border-radius:9px; margin:3px;")=hashtag
    - const count = video.views ?? 0
    h3 #{count} #{count <= 1 ? 'view' : 'views'}
    a(href=`${video.id}/edit`)
        small Edit Video →
    a(href=`${video.id}/delete`)
        small Delete Video →