extends base

block content
    div 
        iframe(
            width="560",
            height="315",
            src=`https://www.youtube.com/embed/${video.url}`,
            title="YouTube video player",
            frameborder="0",
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share",
            allowfullscreen
            )
    h2=video.title
    - const count = video.views ?? 0
    h3 #{count} #{count <= 1 ? 'view' : 'views'}
    a(href=`${video.id}/edit`)
        small Edit Video →